<h1>CPA Member Institutions</h1>

<%= link_to "See our Members on an Interactive Map", locations_path %>

<% @organisations.each do |organisation| %>
  

  <% if organisation.website %>
    
    <%= link_to(organisation.website) do %>
      <h3><%= organisation.name %></h3> 
    <% end %>
    <p> <%= link_to organisation.website %> </p>
  
  <% else %>
    <h3><%= organisation.name %></h3>
  <% end %>
  
  <% organisation.locations.each do |location| %>
    <p>    <%= location.name %>  
    <%= location.phone %>
    <%= location.full_address %>


  <% end %>

  <% if organisation.users.length > 0 %>
    <ul>
    	<% organisation.users.each do |user| %>
          <li>Representative: <%= link_to user.full_name, user %></li>
        <% end %>
    </ul>
  <% end %>
<% end %>

